
@{
    ViewData["Title"] = "Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <link href="~/assets/css/inpfile.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pluginzero/select2/select2.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-primary d-flex justify-content-between align-items-center">
                <h3 class="card-title m-0"><i class="fas fa-user-friends"></i> Lista de Estudiantes</h3>
                <button type="button" id="btnNuevo" class="btn btn-sm btn-success">
                    <i class="fas fa-user-plus"></i> Nuevo Registro
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <table class="table table-striped table-bordered nowrap" id="tbData" cellspacing="0" width="100%">
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdData" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title m-0" id="myModalLabel">Detalle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="txtnombres">Nombre</label>
                                <input type="text" class="form-control input-sm model" id="txtnombres" name="Nombres" autocomplete="off">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="txtapellidos">Apellidos</label>
                                <input type="text" class="form-control input-sm model" id="txtapellidos" name="Apellidos" autocomplete="off">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="txtNroci">Nro CI</label>
                                <input type="text" class="form-control input-sm model" id="txtNroci" name="Nro CI" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="txtCorreo">Correo</label>
                                <input type="text" class="form-control input-sm model" id="txtCorreo" name="Correo">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="cboUnidadEd">Unidad Edu</label>
                                <select id="cboUnidadEd" class="form-control form-control-sm" data-width="100%"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtApelocs">Seleccione Foto</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="txtImagen" accept="image/*">
                                <label class="custom-file-label" for="txtImagen">Ningún archivo seleccionado</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex align-items-center justify-content-center">
                        
                        <div class="form-group text-center">
                            <img id="imgEstu" src="~/images/sinimagen.png" alt="Foto estudiante" style="height: 120px; max-width: 120px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btnGuardar" type="button" class="btn btn-sm btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Required datatable js-->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>

    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.scroller.min.js"></script>

    <!-- Responsive examples <script src="~/Views/Producto/Producto.js"></script> -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/pluginzero/select2/select2.min.js"></script>
    <script src="~/vistas/Estudiante.js" asp-append-version="true"></script>
}